{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Autores - Repositorio digital</title>
{% endblock %}
{% block conteudo %}
    {% include 'partils/alerta.html' %}
    <div>
        <h2>Lista de Autores
        {% if request.user.is_authenticated %}
        <a href="{% url 'criar_autor' %}" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i> Adicionar Autor</a>
        {% endif %}
        </h2>
        <hr>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Último Nome</th>
                    <th scope="col">Foto</th>
                    {% if request.user.is_authenticated %}
                    <th scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for autor in object_list %}
                <tr>
                    <td>{{ autor.nome }}</td>
                    <td>{{ autor.ultimo_nome }}</td>
                    <td><img src="{{ autor.foto.url }}" style="max-width: 70px"> </td>
                    {% if request.user.is_authenticated %}
                    <td>
                        <a href="{% url 'editar_autor' autor.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="{% url 'deletar_autor' autor.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Excluir</a>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum(a) autor(a) registrado(a).</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

