{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Orientador - Repositório digital</title>
{% endblock %}
{% block conteudo %}
    {% include 'partils/alerta.html' %}
    <div>
        <h2>Lista de Orientadores
        {% if request.user.is_authenticated %}
        <a href="{% url 'criar_orientador' %}" class="btn btn-primary float-end"><i class="bi bi-plus-lg"></i> Adicionar orientador</a>
        {% endif %}
        </h2>
        <hr>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-listar">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Último nome</th>
                    <th scope="col">Link do curriculo Lattes</th>
                    {% if request.user.is_authenticated %}
                    <th scope="col">Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for orientador in object_list %}
                <tr>
                    <td>{{ orientador.nome }}</td>
                    <td>{{ orientador.ultimo_nome }}</td>
                    <td>{{ orientador.link_do_curriculo_lattes }}</td>
                    {% if request.user.is_authenticated %}
                    <td>
                        <a href="{% url 'editar_orientador' orientador.pk %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="{% url 'deletar_orientador' orientador.pk %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Excluir</a>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Nenhum(a) orientador(a) registrado(a).</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}